* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: #0074D9 3px solid;
    opacity: 0.8;
}

#home-section {
    min-height: 700px;
    position: relative;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card-form {
    opacity: 0.8;
    background-color: #0074D9;

}

#home-section .lead {
 font-size: 1.1rem
}

#home-section .fas,
#create-section .fas {
    background: #0074D9;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

#explore-section {
    height: 100vhs;
}

#create-head-section {
    background: #0074D9;
}

#explore-section .fas, 
#share-section .fas  {
    background: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn-outline-primary {
    border-color: #0074D9;
    color: #0074D9;
}

.btn-outline-primary:hover {
    background: #0074D9;
}